.modal-buttons {
    display: flex;
    gap: var(--px-5);
}

.modal-buttons button {
    padding: var(--px-10);
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: var(--px-5);
}

.modal-buttons .yes {
    transition: all 0.2s ease;
    background-color: red;
    color: white;

    &:hover {
        background-color: rgb(209, 13, 13);
    }
}

.modal-buttons .no {
    transition: all 0.2s ease;
    background-color: rgba(0, 0, 0, 0.05);

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
