#event-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 600px));
    flex-wrap: wrap;
    gap: var(--px-20);
    justify-content: center;
    margin-top: var(--px-10);
}

.event {
    transition: all 0.2s ease;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    gap: var(--px-10);
    padding: var(--px-30);
    border-radius: var(--px-5);
    color: var(--lightdark-text);
    border-color: var(--lightdark-01);
}

.event h1 {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: var(--max-lines);
    word-wrap: break-word;
}

.event:hover {
    border: 1px solid var(--lightdark-03);
}

.date {
    display: flex;
    gap: var(--px-5);
    text-transform: capitalize;
}

.date i {
    font-size: var(--font-20);
}

.actions {
    display: flex;
    gap: var(--px-10);
}

.details,
.attend {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    gap: var(--px-10);
    transition: all 0.2s ease, color 1ms, background-color 1ms;
    background: none;
    border: 2px solid var(--lightdark-primary);
    color: var(--lightdark-primary);
    padding: var(--px-10);
    cursor: pointer;

    & i {
        transition: all 0.2s ease;
        font-size: var(--font-18);
    }
}

.attending {
    border: 2px solid var(--lightdark-primary);
    background-color: var(--lightdark-primary);
    color: white;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.details:hover {
    width: 135px;
}

.details:hover::after {
    content: "Ver detalles";
    animation: fade 0.4s;
}

.attend:not(.attending):hover {
    width: 110px;
}

.attend:not(.attending):hover::after {
    white-space: nowrap;
    content: "Atender";
    animation: fade 0.4s;
}

.attend.attending:hover {
    width: 130px;
}

.attend.attending:hover::after {
    white-space: nowrap;
    content: "No atender";
    animation: fade 0.4s;
}

.event-assistants {
    align-self: flex-end;
    color: var(--lightdark-04);
}

@media (max-width: 900px) {
    #event-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .event h1 {
        font-size: var(--font-20);
    }

    .event {
        padding: var(--px-20);
        font-size: var(--font-14);
    }
}

@media (max-width: 400px) {
    .event h1 {
        font-size: var(--font-16);
    }
}
