#access {
    margin: auto;
    margin-top: var(--px-10);
    height: 500px;
    color: var(--lightdark-text);
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--lightdark-02);
    border-radius: var(--px-25);
}

#login,
#register {
    background-color: var(--lightdark-bg);
    width: 100%;
    text-align: center;

    & h1 {
        cursor: pointer;
        padding-top: var(--px-15);
        padding-bottom: var(--px-15);
    }
}

#register {
    height: 500px;
    z-index: 1;
}

#login {
    transition: transform 0.5s ease-in-out;
    border-top: 1px solid var(--lightdark-02);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    height: 435px;
    z-index: 2;
    transform: translateY(-65px);
}

#login.active {
    transform: translateY(-440px);
    border-radius: var(--px-25);
}

#register-form,
#login-form {
    display: flex;
    flex-direction: column;
    gap: var(--px-10);
    width: 80%;
    margin: auto;
}

#register-form div,
#login-form div {
    text-align: left;
    display: flex;
    flex-direction: column;
}

input {
    outline: none;
    border: 1px solid var(--lightdark-02);
    border-radius: var(--px-5);
    padding: var(--px-3);
    font-size: var(--font-16);
    background-color: var(--lightdark-bg);
}

button[type="submit"] {
    transition: all 0.2s ease;
    background-color: transparent;
    border: 1px solid var(--lightdark-primary);
    color: var(--lightdark-primary);
    padding: var(--px-10);
    border-radius: var(--px-5);
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--font-16);

    &:hover {
        color: white;
        background-color: var(--lightdark-primary);
    }
}

input[type="reset"] {
    all: unset;
    cursor: pointer;
    font-size: var(--font-14);
    align-self: end;
    color: var(--lightdark-05);
}

.optional {
    font-size: var(--font-14);
    opacity: 0.4;
}

@media (max-width: 400px) {
    label {
        font-size: var(--font-14);
    }
}
