#profile .actions {
    padding: var(--px-20);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px;
}

#profile .actions button {
    color: var(--lightdark-text);
    border-color: transparent;
    background-color: transparent;
    border-radius: var(--px-5);
    cursor: pointer;
    font-size: var(--font-16);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--px-10);
}

#profile .actions button::after {
    z-index: -1;
    transition: all 0.2s ease;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
}

#profile .actions button:hover {
    color: white;
}

#profile .actions button:hover::after {
    transition: all 0.2s ease;
    width: 100%;
}

#profile .actions .remove-account {
    border: 1px solid light-dark(red, rgb(172, 8, 8));

    &::after {
        background-color: light-dark(red, rgb(172, 8, 8));
    }
}

#profile .actions .log-out {
    border: 1px solid light-dark(orange, rgb(201, 134, 10));

    &::after {
        background-color: light-dark(orange, rgb(201, 134, 10));
    }
}

#profile .actions .edit-password {
    border: 1px solid light-dark(coral, rgb(208, 103, 65));

    &::after {
        background-color: light-dark(coral, rgb(208, 103, 65));
    }
}

.edit-info {
    align-self: flex-start;
    margin-top: auto;
    margin-left: var(--px-10);
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--lightdark-03);
    font-size: var(--font-14);
}

#edit-form:not(.hidden) {
    display: flex;
    flex-direction: column;
    gap: var(--px-20);
    max-width: 300px;
}

#edit-form > div:not(.edit-actions) {
    display: flex;
    flex-direction: column;
}

.edit-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--px-5);
}

.edit-actions button {
    transition: all 0.2s ease;
    border: none;
    border-radius: var(--px-5);
    padding: var(--px-10) var(--px-20);
    color: white;
    cursor: pointer;
}

#save-edit {
    background-color: var(--lightdark-primary);
}

#save-edit:hover {
    background-color: var(--lightdark-primary-hover);
}

#cancel-edit {
    color: var(--lightdark-text);
    background-color: var(--lightdark-01);
}

#cancel-edit:hover {
    background-color: var(--lightdark-02);
}

.optional {
    font-size: var(--font-14);
    opacity: 0.4;
}

@media (max-width: 800px) {
    #profile .actions {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    #profile .actions button {
        height: 40px;
        font-size: var(--font-14);
    }

    #edit-form {
        width: 100%;
    }
}
