#create-event {
    display: flex;
    flex-direction: column;
    gap: var(--px-20);
    width: 500px;
}

#create-event h1 {
    text-align: center;
}

.form-title,
.form-description,
.form-datetime div,
.form-ubicacion {
    display: flex;
    flex-direction: column;
}

.form-datetime {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#create-event-form {
    display: flex;
    flex-direction: column;
    gap: var(--px-20);
}

#create-event-form div {
    gap: var(--px-10);
}

#create-event-form input,
#create-event-form textarea {
    padding: var(--px-5);
    font-size: var(--font-16);
}

#create-event-form textarea {
    background-color: transparent;
    resize: none;
    border-radius: var(--px-5);
    border: 1px solid var(--lightdark-02);
    &:focus {
        outline: none;
    }
}

.input-length {
    font-size: var(--font-14);
    color: var(--lightdark-04);
}

#create-event-form > div:has(.error) .current-length {
    color: red;
}

.form-attend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--px-5);
}

.form-attend label {
    cursor: pointer;
}

#event-attend {
    width: 16px;
    height: 16px;
    position: relative;
    background-color: var(--lightdark-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#event-attend::before {
    content: "";
    border-radius: var(--px-4);
    width: 16px;
    height: 16px;
    background-color: transparent;
}

#event-attend:checked::before {
    transition: transform 0.2s ease;
    background-color: var(--lightdark-bg);
    transform: scale(0);
}

#event-attend:checked {
    accent-color: var(--lightdark-primary);
}

.create-event-actions {
    display: flex;
    gap: var(--px-10);
}

.create-event-actions button {
    padding: var(--px-10) var(--px-20);
    border: none;
    border-radius: var(--px-5);
    cursor: pointer;
}

#submit-event {
    color: white;
    transition: all 0.2s ease;
    background-color: var(--lightdark-primary);
}

#submit-event:hover {
    background-color: var(--lightdark-primary-hover);
}

#cancel-event {
    transition: all 0.2s ease;
    background-color: var(--lightdark-02);
}
#cancel-event:hover {
    background-color: var(--lightdark-03);
}

.form-image {
    display: flex;
    flex-direction: column;
}

.select-image,
.remove-image {
    color: var(--lightdark-primary);
    transition: all 0.2s ease;
    border: 1px solid var(--lightdark-primary);
    width: fit-content;
    padding: var(--px-2) var(--px-6);
    border-radius: var(--px-5);
    cursor: pointer;
}

.select-image:hover,
.remove-image:hover {
    color: white;
    background-color: var(--lightdark-primary);
}

#event-image {
    max-width: 90%;
}

@media (max-width: 600px) {
    #create-event {
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    .form-datetime {
        grid-template-columns: 1fr;
    }
}
