#change-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--px-20);
}

#change-password h1 {
    text-align: center;
}

#change-password-form,
#change-password-form div {
    display: flex;
    flex-direction: column;
    gap: var(--px-20);
}

#change-password-form div {
    gap: var(--px-5);
}

.change-password-actions {
    margin-right: auto;
}

.change-password-actions button {
    transition: all 0.2s ease;
    padding: var(--px-10);
    border: none;
    border-radius: var(--px-5);
    cursor: pointer;
}

#save-password {
    background-color: light-dark(blue, var(--dark-orange));
    color: white;
}

#save-password:hover {
    background-color: light-dark(rgb(3, 3, 211), var(--dark-orange-hover));
}

#cancel-password {
    background-color: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    color: var(--lightdark-text);
}

#cancel-password:hover {
    background-color: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}
