#change-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: var(--px-20);
}

#change-password h1 {
    text-align: center;
}

#change-password-form,
#change-password-form div {
    display: flex;
    flex-direction: column;
    gap: var(--px-20);
}

#change-password-form div {
    gap: var(--px-5);
}

.change-password-actions {
    margin-right: auto;
}

.change-password-actions button {
    transition: all 0.2s ease;
    padding: var(--px-10);
    border: none;
    border-radius: var(--px-5);
    cursor: pointer;
}

#save-password {
    background-color: var(--lightdark-primary);
    color: white;
}

#save-password:hover {
    background-color: var(--lightdark-primary-hover);
}

#cancel-password {
    background-color: var(--lightdark-03);
    color: var(--lightdark-text);
}

#cancel-password:hover {
    background-color: var(--lightdark-02);
}
