#event-bar {
    overflow: hidden;
    transition: all 0.3s ease;
    height: 43px;
    display: flex;
    gap: var(--px-10);
    margin-bottom: var(--px-10);
}

.event-bar-container {
    position: fixed;
    height: 43px;
    display: flex;
    gap: var(--px-10);
}

#event-bar.hide {
    height: 0px;
    transition: all 0.3s ease;
    overflow: hidden;
}

#toggle-bar {
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.toggle-container {
    align-self: flex-start;
    transition: all 0.3s ease;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: flex-end;
    transform: translateY(-15px);
    height: 60px;
    width: 30px;
    background-color: light-dark(blue, var(--dark-orange));
}

.toggle-container:has(#toggle-bar[class*="down"]) {
    transform: translateY(-80%);
}

#event-bar button {
    transition: all 0.2s ease, color 1ms;
    cursor: pointer;
    padding: var(--px-10) var(--px-20);
    background-color: var(--lightdark-bg);
    border: 2px solid light-dark(blue, var(--dark-orange));
    border-radius: var(--px-5);
    text-transform: uppercase;
}

#event-bar button:hover {
    background-color: light-dark(blue, var(--dark-orange));
    color: light-dark(var(--dark-text), white);
}

@media (max-width: 400px) {
    #event-bar button {
        font-size: 12px;
        padding: 2px 8px;
        height: 30px;
    }
}
